{% extends "includes/layout_unbranded.html" %}

{% block page_title %}
Example without branding
{% endblock %}

{% block content %}

<header>
  <div class='header-logo'>
    HM Government
  </div>
</header>

<div class='banner'>
</div>

<main id="content" role="main">

  <div class='grid-row'>
    <div class='column-two-thirds negative-margin'>
      <h1 class="heading-xlarge">
        Check for product recalls and safety updates
      </h1>
      <p class='lede'>
        Stay updated on the safety of your products by searching for recall notices, registering products with manufacturers, and subscribing to safety alerts.
      </p>
    </div>
  </div>
  <div class='grid-row'>
    <div class='column-two-thirds'>
      <h2 class='heading-medium'>
        Register your products to stay updated
      </h2>
      <p>
        To receive alerts about any products you own, register them with the manufacturer. <a href="https://www.registermyappliance.org.uk/registration/">Register my appliance</a> can help you register your product.
      </p>
    </div>
  </div>
  <div class='grid-row'>
    <div class='column-two-thirds'>
      <h2 class='heading-medium'>
        Search for recalled product recall sites
      </h2>
    </div>
  </div>
  <div class='grid-row'>
    <div class='column-one-half'>
      <h2 class='heading-small'>
        <a href='https://www.electricalsafetyfirst.org.uk/product-recalls/'>
          Household products
        </a>
      </h2>
      <p>
        Kitchen appliances, electrical goods and toys, provided by Electrical Safety First.
      </p>
    </div>
    <div class='column-one-half'>
      <h2 class='heading-small'>
        <a href='https://www.electricalsafetyfirst.org.uk/product-recalls/'>
          Food and drinks
        </a>
      </h2>
      <p>
        Food and drinks products, provided by Food Standards Authority.
      </p>
    </div>
  </div>
  <div class='grid-row'>
        <div class='column-one-half'>
      <h2 class='heading-small'>
        <a href='https://www.check-mot.service.gov.uk/'>
          Motor vehicles
        </a>
      </h2>
      <p>
        Vehicles, parts and accessories, provided by Department for Vehicle Licencing Authority.
      </p>
    </div>
    <div class='column-one-half'>
      <h2 class='heading-small'>
        <a href='https://www.gov.uk/drug-device-alerts'>
          Healthcare
        </a>
      </h2>
      <p>
        Drugs and medical devices, provided by Medicines & Healthcare products Regulatory Agency.
      </p>
    </div>
  </div>
  <div class='grid-row'>
    <div class='column-two-thirds'>
      <h2 class='heading-medium'>
        Get guidance on your consumer rights
      </h2>
      <p>
        <a href='https://www.citizensadvice.org.uk/consumer/get-more-help/if-you-need-more-help-about-a-consumer-issue/'>Citizens Advice</a> can give you help and guidance if you have a dispute with a retailer or manufacturer about anything you’ve bought.
      </p>
    </div>
  </div>

</main>

{% endblock %}
